@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.space_between {
    flex-wrap: wrap;
    justify-content: space-between;
}

.space_evenly {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.justify_center {
    justify-content: center;
}

.center {
    align-items: center;
}

.align_flex_start {
    align-items: flex-start;
}

.flex_row {
    display: flex;
}

.flex_row_reverse {
    display: flex;
    flex-direction: row-reverse;
}

li {
    list-style: none;
}

a {
    position: relative;
    text-decoration: none;
    color: #FFF;
}

a:hover::before {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    width: 30%;
    height: 0.2rem;
    background: #B83169;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 0 0 35%;
}

a.active::before {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    width: 100%;
    height: 0.2rem;
    background: #B83169;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button {
    border: none;
    padding: 0.6rem 1rem;
    background: #B83169;
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

button:hover {
    border: 2px solid #B83169;
    background: #380E3C;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 150;
    background: #380E3C;
    /* display: none; */
}

.loader img {
    width: 15%;
    height: 15%;
    object-fit: contain;
    /* display: inherit; */

}

.container {
    background: #F2E8EC;
    width: 100%;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    color: #FFF;
    font-size: 1.2rem;
    display: none;
}

.container  nav {
    width: 100%;
    height: 5rem;
    margin: 0 auto;
    padding: 0 2.5%;
    background: #380E3C;
}

.container nav .left_section a {
    width: 40%;
    margin: 0;
    padding: 0;
}

.container  nav .left_section {
    width: 20%;
}

.container .left_section a img {
    width: 100%;
    height: 60%;
}

.container .left_section .language p {
    margin: 0 1rem 0 0;
}

.container nav img {
    height: 80%;
}

.container  nav .right_section {
    font-weight: 400;
    width: 50%;
}

.mobile_menu {
    display: none;
}

.hamburger {
    display: none;
}

.container  nav ul li:last-child {
    background: #B83169;
    border-radius: 0.6rem;
    padding: 0.6rem 1rem;
    transition: all 0.6s ease;
    cursor: pointer;
}

.container  nav ul li:last-child:hover {
    background: #65082f;
    border-radius: 0.6rem;
    padding: 0.6rem 1rem;
    transition: all 0.6s ease;
}

.container > img {
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 50%;
    height: 100%;
}

.container .register_section {
    align-items: flex-start;
    width: 90%;
    background: #F2E8EC;
    margin: 0 auto;
    padding: 2.5%;
}

.container .register_section .text_section {
    position: relative;
    margin-top: 4rem;
    width: 32%;
    justify-content: flex-start;
    color: #000;
}

.container .register_section .text_wrapper {
    position: relative;
    z-index: 4;
}

.container .register_section .text_section img {
    position: absolute;
    top: -3rem;
    left: 40%;
    z-index: 2;
}

.container .register_section .text_section h2 {
    font-size: 2.3rem;
    font-weight: 600;
    color: #B83169;
}

.container .register_section .text_section p {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    width: 80%;
}

.container .form_section {
    width: 60%;
    background: #FFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.8rem;
    padding: 3rem;
    color: #000;
}

.container form, .container .form_section .product_info,
.container .form_section .product_info .bill {
    width: 100%;
}

.container .form_section .input {
    height: 6rem;
    width: 100%;
    font-weight: 500;
    font-size: 1.3rem;
}

.container .form_section form > .input {
    margin: 0 0 2rem 0;
}

.container .form_section form > .input:nth-child(7) {
    margin: 0;
}

form input {
    height: 3rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
    border-radius: 0.8rem;
    border: none;
    padding: 0.5rem;
    font-size: 1.2rem;
}

form input:focus {
    outline: none;
}

.container .form_section .names {
    margin: 0 0 2rem 0;
    width: 100%;
}

.container .form_section .names .input {
    width: 45%;
}

.container .form_section .product_info {
    font-size: 1.3rem;
    font-weight: 500;
}

.container .form_section .product_info .header {
    color: #FFF;
    width: 100%;
    height: 5rem;
    background: linear-gradient(180deg, #B83169 0%, #380E3C 100%);
}

.container .form_section .product_info .plan {
    width: 100%;
    margin: 1rem 0 0 0;
}

.container .form_section .product_info .row {
    margin: 1rem 0 0 0;
    width: 100%;
}

.container .form_section .payment_method {
    margin: 2rem 0 0 0;
}

.container .form_section .payment_method .header .input {
    justify-content: flex-start;
    padding: 0 0 0 3rem;
    font-size: 1.5rem;
    width: 50%;
    height: 100%;
}

.container input[type='radio'] {
    border: 1px solid white;
    background: transparent;
    width: 1.3rem;
    height: 1.3rem;
    margin: 0 1rem 0 0;
}

.container .form_section .payment_method .payment {
    line-height: 1.8;
    font-size: 1rem;
    margin: 1rem 0 0 0;
}

.container .form_section .payment_method .inputs {
    margin: 1rem 0 0 0;
    width: 100%;
}

.container .form_section .payment_method .inputs .input {
    width: 20%;
    height: fit-content;
}

.container .form_section .payment_method .inputs .input input {
    width: 100%;
    box-shadow: none;
}

.container .form_section .payment_method .inputs .input:nth-child(1) {
    width: 40%;
}

.container .form_section .payment_method .inputs .input:nth-child(1) input {
    width: 80%;
}

.container .form_section form button {
    margin: 0;
    width: 100%;
    height: 6.2rem;
    font-size: 2.2rem;
    font-weight: 600;
}

.container .footer {
    width: 100%;
    height: 20rem;
    background: #380E3C;
}

.container .footer .column {
    height: 100%;
    width: 25%;
    padding: 3rem 0 0 3rem;

}

.container .footer img.logo {
    width: 60%;
    margin-bottom: 3rem;
}

.container .footer .social_media img {
    width: 60%;
}

.container .footer .social_media .element:nth-child(4) img {
    transform: scale(2);
}

.container .footer .element {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.container .footer .column h1 {
    color: #B83169;
}

.container .footer .column ul {
    height: 14rem;
    font-weight: 600;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {

    html {
        font-size: 14px;
    }
    
    .container nav .left_section {
        align-items: center;
        width: 20%;
    }
    
    .container .left_section img {
        width: 50%;
    }
    
    .container nav img {
        height: 80%;
    }
    
    .container nav .right_section {
        width: 65%;
    }

    .container nav .right_section ul {
        width: 100%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    
    html {
        font-size: 14px;
    }
    
    .container nav .left_section {
        align-items: center;
        width: 20%;
    }
    
    .container .left_section img {
        width: 50%;
    }
    
    .container nav img {
        height: 80%;
    }
    
    .container nav .right_section {
        width: 70%;
    }

    .container nav .right_section ul {
        width: 100%;
    }

    .container .form_section {
        width: 60%;
        background: #FFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0.8rem;
        padding: 1.5rem;
        color: #000;
    }
    
    .container form, .container .form_section .product_info,
    .container .form_section .product_info .bill {
        width: 100%;
    }
    
    .container .form_section .input {
        height: 6rem;
        width: 95%;
        font-weight: 500;
        font-size: 1.3rem;
    }
    
    form input {
        width: 100%;
    }
    
    form input:focus {
        outline: none;
    }
    
    .container .form_section .names {
        width: 95%;
    }
    
    .container .form_section .names .input {
        width: 48%;
    }
    
    .container .form_section .product_info {
        font-size: 1.3rem;
        font-weight: 500;
    }
    
    .container .form_section .product_info .header {
        color: #FFF;
        width: 100%;
        height: 5rem;
        background: linear-gradient(180deg, #B83169 0%, #380E3C 100%);
    }

    .container .form_section .product_info .header h1 {
        font-size: 2.2rem;
        font-weight: 600;
    }
    
    .container .form_section .product_info .plan {
        width: 100%;
        margin: 1rem 0 0 0;
    }
    
    .container .form_section .product_info .row {
        margin: 1rem 0 0 0;
        width: 100%;
    }
    
    .container .form_section .payment_method .inputs .input {
        width: 20%;
        height: fit-content;
    }
    
    .container .form_section .payment_method .inputs .input input {
        width: 100%;
        box-shadow: none;
    }
    
    .container .form_section .payment_method .inputs .input:nth-child(1) {
        width: 40%;
    }
    
    .container .form_section .payment_method .inputs .input:nth-child(1) input {
        width: 80%;
    }
    
    .container .form_section form button {
        margin: 0;
        width: 100%;
        height: 5.4rem;
        font-size: 2.2rem;
        font-weight: 600;
    }

    .container .footer .social_media {
        width: 80%;
    }
    
    .container .footer .social_media img {
        width: 60%;
    }
    
    .container .footer .social_media .element:nth-child(4) img {
        transform: scale(2);
    }
    
    .container .footer .element {
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    html {
        font-size: 14px;
    }
    
    .container .mobile_menu {
        display: flex;
        position: absolute;
        top: 5rem;
        right: 0;
        width: 50%;
        height: 15rem;
        background: #B83169;
        color: #FFF;
        border-radius: 1rem;
        z-index: 15;
        display: none;
    }

    .container .mobile_menu ul {
        height: 100%;
    }
    
    .container nav {
        justify-content: space-between;
    }

    .container .hamburger {
        display: flex;
        width: 3rem;
        height: 3rem;
        background: #B83169;
        margin: 0 1rem 0 0;
    }

    .container span {
        position: relative;
        height: 0.3rem;
        width: 80%;
        border-radius: 0.2rem;
        background: #FFF;
        z-index: 15;
    }

    .container span::before {
        content: '';
        position: absolute;
        top: -0.8rem;
        left: 0;
        height: 0.3rem;
        width: 100%;
        border-radius: 0.2rem;
        background: #FFF;
    }

    .container span::after {
        content: '';
        position: absolute;
        bottom: -0.8rem;
        left: 0;
        height: 0.3rem;
        width: 100%;
        border-radius: 0.2rem;
        background: #FFF;
    }

    .container nav .left_section {
        flex-direction: row;
        align-items: center;
        width: 25%;
    }

    .container nav .left_section a img {
        width: 120%;
    }
    
    .container nav img {
        height: 60%;
    }
    
    .container nav .right_section {
        display: none;
    }
    
    .container > img {
        width: 100%;
    }

    .container .form_section {
        width: 60%;
        background: #FFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0.8rem;
        padding: 1.5rem;
        color: #000;
    }
    
    .container form, .container .form_section .product_info,
    .container .form_section .product_info .bill {
        width: 100%;
    }
    
    .container .form_section .input {
        height: 6rem;
        width: 95%;
        font-weight: 500;
        font-size: 1.3rem;
    }
    
    .container .form_section form > .input {
        margin: 0 0 2rem 0;
    }
    
    form input {
        width: 100%;
    }
    
    form input:focus {
        outline: none;
    }
    
    .container .form_section .names {
        margin: 0 0 2rem 0;
        width: 95%;
    }
    
    .container .form_section .names .input {
        width: 48%;
    }
    
    .container .form_section .product_info {
        font-size: 1.3rem;
        font-weight: 500;
    }
    
    .container .form_section .product_info .plan {
        width: 100%;
        margin: 1rem 0 0 0;
    }
    
    .container .form_section .product_info .row {
        margin: 1rem 0 0 0;
        width: 100%;
    }

    .container .form_section .product_info .header h1 {
        font-size: 2.2rem;
        font-weight: 600;
    }
    
    .container .form_section .payment_method {
        margin: 2rem 0 0 0;
    }
    
    .container .form_section .payment_method .header .input {
        justify-content: flex-start;
        padding: 0 0 0 3rem;
        font-size: 1.5rem;
        width: 50%;
        height: 100%;
    }
    
    .container input[type='radio'] {
        border: 1px solid white;
        background: transparent;
        width: 1.3rem;
        height: 1.3rem;
        margin: 0 1rem 0 0;
    }
    
    .container .form_section form button {
        margin: 0;
        width: 100%;
        height: 5.4rem;
        font-size: 2.2rem;
        font-weight: 600;
    }

    .container .footer .social_media {
        width: 80%;
    }
    
    .container .footer .social_media img {
        width: 60%;
    }
    
    .container .footer .social_media .element:nth-child(4) img {
        transform: scale(2);
    }
    
    .container .footer .element {
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media screen and (min-width: 400px) and (max-width: 768px) {

    html {
        font-size: 14px;
    }
    
    .container .mobile_menu {
        display: flex;
        position: absolute;
        top: 5rem;
        right: 0;
        width: 50%;
        height: 15rem;
        background: #B83169;
        color: #FFF;
        border-radius: 1rem;
        z-index: 15;
        display: none;
    }

    .container .mobile_menu ul {
        height: 100%;
    }
    
    .container nav {
        justify-content: space-between;
    }

    .container .hamburger {
        display: flex;
        width: 3rem;
        height: 3rem;
        background: #B83169;
        margin: 0 1rem 0 0;
    }

    .container span {
        position: relative;
        height: 0.3rem;
        width: 80%;
        border-radius: 0.2rem;
        background: #FFF;
        z-index: 15;
    }

    .container span::before {
        content: '';
        position: absolute;
        top: -0.8rem;
        left: 0;
        height: 0.3rem;
        width: 100%;
        border-radius: 0.2rem;
        background: #FFF;
    }

    .container span::after {
        content: '';
        position: absolute;
        bottom: -0.8rem;
        left: 0;
        height: 0.3rem;
        width: 100%;
        border-radius: 0.2rem;
        background: #FFF;
    }

    .container nav .left_section {
        flex-direction: row;
        align-items: center;
        width: 25%;
    }

    .container nav .left_section a img {
        width: 120%;
    }
    
    .container nav img {
        height: 60%;
    }
    
    .container nav .right_section {
        display: none;
    }
    
    .container > img {
        width: 100%;
    }

    .container .form_section {
        width: 60%;
        background: #FFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0.8rem;
        padding: 1.5rem;
        color: #000;
    }
    
    .container form, .container .form_section .product_info,
    .container .form_section .product_info .bill {
        width: 100%;
    }
    
    .container .form_section .input {
        height: 6rem;
        width: 95%;
        font-weight: 500;
        font-size: 1.3rem;
    }
    
    .container .form_section form > .input {
        margin: 0 0 2rem 0;
    }
    
    form input {
        width: 100%;
    }
    
    form input:focus {
        outline: none;
    }
    
    .container .form_section .names {
        margin: 0 0 2rem 0;
        width: 95%;
    }
    
    .container .form_section .names .input {
        width: 48%;
    }
    
    .container .form_section .product_info {
        font-size: 1.3rem;
        font-weight: 500;
    }
    
    .container .form_section .product_info .plan {
        width: 100%;
        margin: 1rem 0 0 0;
    }
    
    .container .form_section .product_info .row {
        margin: 1rem 0 0 0;
        width: 100%;
    }

    .container .form_section .product_info .header h1 {
        font-size: 2.2rem;
        font-weight: 600;
    }
    
    .container .form_section .payment_method {
        margin: 2rem 0 0 0;
    }
    
    .container .form_section .payment_method .header .input {
        justify-content: flex-start;
        padding: 0 0 0 3rem;
        font-size: 1.5rem;
        width: 50%;
        height: 100%;
    }
    
    .container input[type='radio'] {
        border: 1px solid white;
        background: transparent;
        width: 1.3rem;
        height: 1.3rem;
        margin: 0 1rem 0 0;
    }
    
    .container .form_section form button {
        margin: 0;
        width: 100%;
        height: 5.4rem;
        font-size: 2.2rem;
        font-weight: 600;
    }

    .container .footer .social_media {
        width: 80%;
    }
    
    .container .footer .social_media img {
        width: 60%;
    }
    
    .container .footer .social_media .element:nth-child(4) img {
        transform: scale(2);
    }
    
    .container .footer .element {
        width: 2.5rem;
        height: 2.5rem;
    }
}