@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.space_between {
    flex-wrap: wrap;
    justify-content: space-between;
}

.space_evenly {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.justify_center {
    justify-content: center;
}

.justify_flex_start {
    justify-content: flex-start;
    flex-wrap: wrap;
}

.center {
    align-items: center;
}

.align_flex_start {
    align-items: flex-start;
    /* flex-wrap: wrap; */
}

.flex_row {
    display: flex;
}

.flex_row_reverse {
    display: flex;
    flex-direction: row-reverse;
}

li {
    list-style: none;
}

a {
    position: relative;
    text-decoration: none;
    color: #FFF;
}

a:hover::before {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    width: 30%;
    height: 0.2rem;
    background: #B83169;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 0 0 35%;
}

a.active::before {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    width: 100%;
    height: 0.2rem;
    background: #B83169;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button {
    border: none;
    padding: 0.6rem 1rem;
    background: #B83169;
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

.width_full {
    width: 100%;
}

.height_full {
    height: 100%;
}

.mt4 {
    margin: 4rem 0 0 0;
}

.container {
    min-height: 100vh;
    font-family: 'Inter', 'sans-serif';
}

.hamburger {
    display: none;
}

.mobile_menu {
    display: none;
}

.container .menu, .container .toolbar {
    height: 3rem;
    background: #380E3C;
    color: #FFF;
    padding: 0 2.5%;
}

.container .menu ul {
    height: 100%;
    width: 15%;
}

.container .menu ul li {
    height: 70%;
    border-radius: 0.4rem;
    padding: 0 0.5rem;
    transition: all 0.5s ease;
}

.container .menu ul li:hover {
    background: #B83169;
    cursor: pointer;
}

.container .menu .language {
    width: 8%;
}

.container .toolbar {
    position: relative;
    background: #B83169;
    border-bottom: 2px solid white;
}

.container .toolbar .import {
    padding: 0 1rem 0 0;
    border-right: 1px solid white;
    cursor: pointer;
}

.container .toolbar .create {
    padding: 0 0 0 1rem;
    cursor: pointer;
}

.container .toolbar .create_menu {
    position: absolute;
    top: 2rem;
    height: 200%;
    width: 25%;
    padding: 0 0.5rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 10;
    background: #FFF;
    border-radius: 0.5rem;
    color: #380E3C;
    display: none;
}

.container .toolbar .create_menu .actions input {
    padding: 0.2rem;
    border: 2px solid #380E3C;
    border-radius: 0.3rem;
    font-size: 1.2rem;
}

.container .toolbar .create_menu .actions button {
    background: #B83169;
    border-radius: 0.3rem;
    padding: 0.3rem;
}

.container .toolbar .create_menu .actions button:nth-child(2) {
    background: #D9D9D9;
    color: #000;
}

.container .toolbar img {
    margin: 0 1rem 0 0;
}

.container svg {
    fill: #FFF;
}

.container button {
    background: none;
    padding: 0;
}

.container button svg {
    fill: #380E3C;
}

.container .toolbar .left_side img, .container .toolbar .right_side img {
    width: 1.5rem;
    height: 1.5rem;
}

.container .toolbar .left_side {
    width: 24%;
}

.container .toolbar .right_side {
    width: 9%;
}

.container .toolbar .right_side button {
    font-size: 0.8rem;
}

.container .toolbar .leftt_side button {
    font-size: 1rem;
}

.container .toolbar .left_side svg, .container .toolbar .right_side svg, .container .toolbar .left_side img, .container .toolbar .right_side img {
    margin-right: 0.3rem;
    fill: #FFF;
}

.container .workspace {
    height: 80vh;
}

.container .workspace .left_section {
    background: #F2E8ED;
    width: 22%;
    height: 100%;
}

.container .workspace .left_section .tracking_wrapper {
    width: 80%;
    height: 12rem;
}

.container .workspace .left_section .tracking_wrapper h1 {
    font-size: 1rem;
    font-weight: 600;
}

.container .workspace .left_section .tracking_wrapper p {
    font-size: 0.8rem;
    font-weight: 400;
}

.container .workspace .left_section .tracking_wrapper button {
    height: 1.5rem;
    width: 80%;
    color: #000;
    background: #D9D9D9;
    border-right: 4px solid #B83169;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    border-radius: 0.3rem;
}

.container .workspace .left_section .tracking_wrapper button:nth-child(4) {
    background: #380E3C;
    border: none;
    border-radius: 0.3rem;
    color: #FFF;
    width: 80%;
    margin: 0 auto;
}

.container .workspace .left_section .tracking_wrapper button:nth-child(4) img {
    height: 90%;
    margin: 0 0.5rem 0;
}

.container .workspace .right_section {
    width: 88%;
    height: 100%;
    overflow: hidden;
}

.container .workspace .right_section img {
    width: 100%;
}

.container #canvas {
    position: absolute;
}

.container .bottom_buttons {
    height: 4rem;
}

.container .bottom_buttons .buttons_wrapper {
    width: 35%;
}

.container .bottom_buttons .buttons_wrapper button {
    position: relative;
}

.container .bottom_buttons .buttons_wrapper button p {
    display: none;
    position: absolute;
    top: 0rem;
    background: #D9D9D9;
    padding: 0.2rem;
    color: #000;
    transition: all 0.5s ease;
}

.container .bottom_buttons .buttons_wrapper button:hover p {
    display: block;
    top: -3rem;
}

.container .bottom_buttons .buttons_wrapper button.active {
    background: #B83169;
}

.container .bottom_buttons .buttons_wrapper button.active svg {
    fill: #FFF;
}

.container .bottom_buttons .buttons_wrapper svg:hover {
    fill: #FFF;
    background: #B83169;
    border-radius: 0.5rem;
}

.container .editing_section {
    width: 80%;
}

.container .cut_section {
    background: #1F1F1F;
}

.container .cut_section .tracker {
    padding: 0 0.6rem;
    margin: 1rem 0 0 0;
    background: #000;
    color: #52AEE5;
}

/* .container .cut_section .tracker .ticks {
    align-items: flex-end;
    padding: 0 1.3rem;
} */

.container .cut_section .tracker .ticks {
    /* padding: 0 0.6rem; */
    min-width: 100%;
    height: 1rem;
}

.container .cut_section .working_area {
    position: relative;
    height: 20rem;
    padding: 0 1.8rem;
    background: #353535;
}

.container .cut_section .working_area span {
    position: absolute;
    top: 0;
    left: 1.8;
    height: 100%;
    width: 0.2rem;
    background: #A4A4A4;
}

.container .cut_section .working_area span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 2rem;
    height: 100%;
    width: 0.2rem;
    background: #B83169;
}

.container .cut_section .working_area .video {
    height: 1.3rem;
    width: 100%;
    background: #0d4098;
    border-radius: 0.3rem;
}

.container .controls {
    height: 6rem;
    width: 55%;
    margin: 0 0 0 15rem;
}

.container .controls .seek_bar {
    position: relative;
    width: 95%;
    height: 0.1rem;
    background: #A4A4A4;
    margin: 0 auto;
}

.container .seek_bar span {
    position: absolute;
    top: -0.25rem;
    left: 0;
    width: 0.7rem;
    height: 0.7rem;
    background: #B83169;
    border-radius: 50%;
}

.container .buttons {
    width: 95%;
    margin: 0 auto;
}

.container .buttons .playing_buttons {
    width: 25%;
}

.container input[type='range'] {
    appearance: none;
    background: transparent;
    cursor: pointer;
}

.container input[type='range']::-webkit-slider-runnable-track {
    height: 0.1rem;
    background: #A4A4A4;
}

.container input[type='range']::-webkit-slider-thumb {
    appearance: none;
    background-color: #B83169;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    margin: -0.3rem 0 0 0;
}

.container .volume_buttons {
    width: 55%;
}

.container .cut_section .files_section {
    width: 20%;
    min-height: 50vh;
    background: #1F1F1F;
}

.container .cut_section .files_section .row {
    background: #000;
    color: #FFF;
    height: 2rem;
    padding-left: 0.3rem;
    font-size: 0.8rem;
}

.container .cut_section .files_section .row svg {
    fill: #FFF;
    margin: 0 0.5rem 0 0;
}

@media screen and (max-width: 1400px) {
    .container .workspace .toolbar .filter {
        width: 35%;
    }

    .container .menu ul {
        width: 18%;
    }

    .container .cut_section .button_wrapper {
        width: 60%;
    }

    .container .cut_section .tracker {
        overflow: hidden;
    }
}

@media screen and (max-width: 500px) {
    .hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 0.3rem;
    }

    .hamburger span {
        position: relative;
        width: 90%;
        height: 0.2rem;
        background: #FFF;
    }

    .hamburger span::before {
        content: '';
        width: 100%;
        height: 100%;
        background: #FFF;
        position: absolute;
        top: -0.75rem;
        left: 0;
    }

    .hamburger span::after {
        content: '';
        width: 100%;
        height: 100%;
        background: #FFF;
        position: absolute;
        bottom: -0.75rem;
        left: 0;
    }

    .menu ul.mobile_menu {
        position: absolute;
        top: 3rem;
        left: 1rem;
        width: 25%;
        height: 8rem;
        background: #B83169;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        display: none;
        z-index: 20;
        border: 2px solid #380E3C;
    }

    .menu ul:nth-child(2) {
        display: none;
    }

    .container .menu .language {
        width: 25%;
    }

    .container .workspace {
        flex-direction: column;
    }

    .container .files_section {
        width: 100%;
    }
    
    .container .player_section {
        width: 100%;
    }

    .container .bottom_buttons .buttons_wrapper {
        width: 90%;
    }

    .container .workspace .toolbar {
        height: 10rem;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .container .workspace .toolbar .search {
        width: 80%;
    }

    .container .workspace .toolbar .filter {
        width: 90%;
    }

    .container .cut_section .button_wrapper .row {
        flex-direction: column;
        width: 100%;
    }

    .container .cut_section .button_wrapper .row .range {
        flex-direction: column;
    }
}